*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

*:focus {outline: none;}

body{font-family: 'Noto Sans JP', sans-serif;color: #4d4d4d;}
.wrap1250{max-width: 1250px; margin: 0 auto;}
img {width: 100%; height: auto; vertical-align: bottom;}
.orange{color: #ea5504;}
.light_orange{color: #f97a0b;}
.text-c{text-align: center;}
.text-r{text-align: right;}
.text-l{text-align: left;}
.text-coursepdf{margin-top: 30px; text-align: center; font-size: 22px;}
.mark_light_orange{background:linear-gradient(transparent 10%, #f97a0b 10%); color: #fff;padding: 0 8px;}
.mark_orange{background:linear-gradient(transparent 10%, #ea5504 10%); color: #fff;padding: 0 8px;}
.flex{display: flex;}
.flex-bw{justify-content: space-between;}
.flex-ad{justify-content: space-around;}
.flex-itemc{align-items: center;}
.wraplineBG{background-image: url(../images/common/PC_lineBG.svg); background-repeat: repeat; background-position: top center;}
.swiper-slide{ height: auto;}
.swiper-slide img{height: 100%;}
#wrapChat .swiper-slide img{height: auto;}

.btnOrange{text-align: center;}
.btnOrange a{display: inline-block; max-width: 600px; border-radius: 50px; background: #ea5504; padding: 10px 40px; color: #fff; text-decoration: none; font-size: 30px;box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.9);}
.btnOrange a:hover{background: #fff;color: #ea5504; transition: .3s;}

.btnWhite{text-align: center;}
.btnWhite a{display: inline-block; max-width: 300px; border-radius: 50px; background: #fff; padding: 10px 40px; color: #0071b5; text-decoration: none; font-size: 24px;box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.9);}
.btnWhite a:hover{background: #0071b5; color: #fff; transition: .3s;}

header .pc{display: flex; justify-content: space-between; align-items: center;height: 70px; background: rgba(255,255,255,0.9); position: fixed; top: 0; width: 100%; z-index: 10; padding: 0px 0 0 15px;transition: .3s; box-shadow: 0 3px 5px rgba(0,0,0,0.16);}
header h1{width: 210px;}
header h1 img{display: block;}

.menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 16px;
    list-style-type: none;
}

header .pc .menu .menu_top.active{background:#e95513;}
header .pc .menu .menu_top.active a{ color: #fff;}
header .pc .menu .menu_top.active a:hover{color: #ffff00;}

.menu > li{padding: 0 20px; position: relative; line-height: 25px; height: 30px;}
.menu > li:before{content: "|"; color: #4d4d4d; position: absolute; left: -3px;}
.menu > li:first-child::before{content: "";}

.menu > li a {
    display: inline-block;
    color: #4d4d4d;
    text-decoration: none;
}

.menu > li a:hover {
    color: #fff;
}

ul.menu__second-level {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.menu > li:hover {
    background: #e95513;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.menu__second-level li {
    list-style: none;
    height: 35px;
}

.menu__second-level li a{color: #fff;}
.menu__second-level li a:hover {
    background: #e95513;
    color: #ffff00;
    border-bottom: 1px solid #ffff00; 
    -webkit-transition: all .2s;
    transition: all .2s;
}

.menu__second-level li.active a{color: #ffff00;}

/* floatクリア */
.menu:before,
.menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}

header nav .menu > li.menu__single {
    position: relative;
}

header nav li.menu__single ul.menu__second-level {
    position: absolute;
    top: 20px;
    right: -50px;
    width: 250px;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
    background: #e95513;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

header nav li.menu__single ul.menu__second-level.price{width: 150px; right: -7px;}

header nav li.menu__single:hover ul.menu__second-level {
    top: 30px;
    visibility: visible;
    opacity: 1;
}

.menu_right{height: 100%;}
.menu_right a{display: block; height: 100%; background: #e95513; color: #fff;padding: 10px 10px 10px; text-align: center; text-decoration: none;}
.menu_right a:hover{background: #fff; color: #e95513; font-weight: bold;-webkit-transition: all .2s ease;transition: all .2s ease;}
.menu_right.active a{background:#fff; color: #e95513; }

.wrapArticle a{color:#4d4d4d; text-decoration: none;}

.wrapMV{height: 100vh; background-size: cover; background-repeat: no-repeat;position: relative;}
.wrapMV .arrow{width: 0.85%; position: absolute; bottom: 3%; right: 0; left: 0; margin: auto;-webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;max-width: 11px;}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(0px, 10px);
  }
  40% {
    -webkit-transform: translate(0, 0);
  }
}
@keyframes sdb {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0px, 10px);
  }
  40% {
    transform: translate(0, 0);
  }
}

.wrapDairisekii{background: url(../images/common/PC_dairiseki.svg); background-position: top center;}
.wrapDairisekii2{background: url(../images/common/PC_dairiseki.svg); background-position: top center; background-repeat: repeat-y;}

footer{background: #e95513;color: #fff; padding-bottom: 30px;}
footer .bnrCounseling.pc a{
    display: block; 
    background-color:#7ac243;
    background-image: url(../images/common/bnrCounseling_l.png),url(../images/common/bnrCounseling_r.png);
    background-position: left,right;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding: 10px 0;
}
footer .bnrCounseling img{vertical-align: bottom; width: 70%;  max-width: 1030px;}
footer .footerMenu{display: flex; padding: 30px 0 20px; max-width: 1366px; margin: 0 auto;}
footer .footerMenu nav{font-size: 14px; padding-left: 20px; width: 100%;}
footer .footerMenu nav li.menu__single_foot{display: inline-block; padding-right: 4%; text-align: center;}
footer .footerMenu nav li.menu__single_foot a.active2{color: #ffff00;}


footer li{list-style-type: none;}
footer p{font-size: 12px;}
footer p a.active{color: #ffff00;}
footer a{color: #fff; text-decoration: none;}
footer a:hover{color: #ffff00; transition: .2s;}
footer .footerIcon li{width: 50px;}

.menu_foot {
    justify-content: space-between;
    position: relative;
    font-size: 14px;
    list-style-type: none;
}

.menu_foot > li{ position: relative; line-height: 25px;}
.menu_foot > li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}


.menu_foot > li a:hover {
    color: #ffff00;
}

.menu_foot > li:hover {
    -webkit-transition: all .5s;
    transition: all .5s;
}

.menu__second-level_foot li {
    list-style: none;
    margin-bottom: 1px;
}

.menu__second-level_foot li a{color: #fff;}
.menu__second-level_foot li a:hover {
    color: #ffff00;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.menu__second-level_foot li.active2 a{color: #ffff00;}

.menu_foot > li.menu__single_foot { position: relative;}
.menu_foot > li.menu__single_foot span{cursor: pointer;}
.menu_foot > li.menu__single_foot span.init-bottom::after{content: "＋"; display: inline-block; padding-left: 5px;}
.menu_foot > li.menu__single_foot span.init-bottom.active::after{content: "－";}

.menu_foot .menu__single_foot ul.menu__second-level_foot {
    position: absolute;
    top: 24px;
    left: -20px;
    width: 101%;
    font-size: 8px;
    z-index: 1;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border-top: 1px #fff dotted;
    display: none;
    background-color: #e95513;
}

/*.menu_foot li.menu__single_foot:hover ul.menu__second-level_foot {
    top: 25px;
    visibility: visible;
    opacity: 1;
}*/

.footerIcon{justify-content: flex-end; align-items: center; max-width: 1300px;}
.footerIcon p{margin-right: 20px;}

.footerIcon ul li {
	position: relative;
	width: 50px;
	height: 50px;
	margin: 0 3px;
	display: block;
	border-radius: 12px;
	overflow: hidden;
	cursor: pointer;
}
.footerIcon ul li img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	display: block;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.footerIcon ul li:hover img:nth-of-type(2) {
	opacity: 0;
}


.is_flow{display: none;}
.btnTop{position: sticky; bottom: 20px; z-index: 15; text-align: center;}
.btnTop a{position: absolute; background: rgba(255,255,255, 0.8); border-radius: 100px; right: 10px; bottom: 20px; z-index: 15; width: 70px; height: 70px; text-align: center;}
.btnTop a img{max-width: 45px; padding-top: 18px;}
.btnTop a:hover{background: #fff;-webkit-transition: .3s ease-in-out;transition: .3s ease-in-out;}

.btnCS a{position: fixed; border-radius: 100px; left: 0px; bottom: 0px; z-index: 15; width: 200px; text-align: center;}
.btnCS a:hover{opacity: .8; transition: .3s ease-in-out;}

/* モーダルスライダー */
.swiper-container-sub{visibility: hidden;}
.swiper-container-sub.is-visible{visibility: visible;}

.swiper-container-sub-single{visibility: hidden;}
.swiper-container-sub-single.is-visible{visibility: visible;}
.swiper-container-sub-single2{visibility: hidden;}
.swiper-container-sub-single2.is-visible{visibility: visible;}

.swiper-container-sub-duble{visibility: hidden;}
.swiper-container-sub-duble.is-visible{visibility: visible;}
.swiper-container-sub-duble2{visibility: hidden;}
.swiper-container-sub-duble2.is-visible{visibility: visible;}

body.is-modal{ height: 100vh; overflow: hidden;}
.modal-close{position: absolute; top: 10px; right: 10px; z-index: 10002; width: 50px; background: rgba(255,255,255,0.5); padding: 7px 10px;}


/* PC */
@media screen and (min-width: 1250px) {
    .sp{display: none!important;}
    .tab-sp{display: none!important;}
    header div.hide {transform: translateY(-100px);}
    .wrapMV{min-height: 700px; height: auto;}
}


@media screen and (min-width: 1025px) and (max-width: 1249px) {
    .sp{display: none!important;}
    .tab-sp{display: none!important;}
    
    header h1{width: 150px;}
    .menu{font-size: 14px;}
    .menu > li{padding: 0 10px;}
    .menu_right a{font-size: 16px;}
    .wrap1250{padding:  0 20px;}
    .wrapMV{min-height: 768px;}
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .sp{display: none!important;}
    .pc{display: none!important;}
    .wrap1250{width: 90%; margin: 0 auto;}
    
    header h1{padding: 20px;}
    .drawer-menu li a{ display: block; padding: 20px; text-align: right; border-bottom: 1px solid #4d4d4d; margin: 0 25px;}
    .drawer-menu li a:link,.drawer-menu li a:visited{color: #4d4d4d; text-decoration: none;}
    .drawer-menu ul.child li a:hover{color: #ea5504;}
    .drawer-menu ul.child li a{border-bottom: 1px dashed;}
    .drawer-menu .child {display: none;}
    .menu_sp,.drawer-menu li{position: relative;}
   .menu_sp,.drawer-menu .menu_toggle{position: relative;}
    .drawer-menu li .menu_toggle a{padding: 20px 30px 20px 20px; position: relative; display: block;  z-index: 9;}
   .drawer-menu li .toggle {
       position: absolute;
       right: 27px;
       top: 45%;
       padding: 8px;
       content: '';
       width: 10px;
       height: 10px;
       background: url(../images/common/menu_sp_close.svg) no-repeat;
       background-size: contain;
       z-index: 10;
    }
 
    .drawer-menu li .toggle.active {
        background: url(../images/common/menu_sp_open.svg) no-repeat;
        top: 45%;
    }
    .bnrCounseling{position: sticky; bottom: -2px; z-index: 90; display: none;}
    .bnrCounseling img{vertical-align: bottom;}
    .btnTop a{bottom: 10%; z-index: 91;}
    
    .wrapMV{min-height: 1024px;}
    .wrapMV .arrow{width: 10px;}
    
    footer p{text-align: center;}
    footer .footerMenu{flex-direction: column;}
    footer .footerMenu nav{width: 80%; margin: 0 auto; flex-wrap: wrap; margin-bottom: 30px;}
    footer .footerMenu nav li{flex-basis: 33%;}
    .menu_foot .menu__single_foot ul.menu__second-level_foot{font-size: 0.7rem;}
    .menu_foot .menu__single_foot ul.menu__second-level_foot{background: #e95513;}
    
    .menu_foot li.menu__single_foot:hover ul.menu__second-level_foot li a{border-bottom: 1px solid #fff; padding-bottom: 5px; width: 100%;}
    .menu__second-level_foot li{height: auto;}
    .footerIcon{justify-content:center; margin-bottom: 10px;}
    
    .btnCSL{margin: 10px 25px 0; text-align: center;}
    .btnCSL a{padding: 25px; text-align: center; display:block;background: #F97A0B;}
    .btnCSL a:link,.btnCSL a:visited{color: #fff; text-decoration: none; font-size: 0.9rem;}
    .btnCSL.active a{color: #F97A0B; background:#fff;}
    
    .btnTop{bottom: 11%;}
}

/* sp */
@media screen and (max-width: 599px) {
    .pc{display: none!important;}
    .tab-pc{display: none!important;}
    .wrap1250{width: 90%; margin: 0 auto;}
    .wrapDairisekii{background: url(../images/common/SP_dairiseki.svg); background-size: contain;}
    .wraplineBG {background-image: url(../images/common/SP_lineBG.svg); background-size: cover;}
    .wrapMV .arrow{bottom: 3%; width: 7px;}
    .btnTop a{width: 50px; height: 50px;}
    .btnTop a img {
    max-width: 25px;
    padding-top: 15px;
    }
    .btnOrange{width: 90%; margin: 0 auto;}
    .btnOrange a{ font-size: 1.2rem;}
    
    header h1{padding: 20px;}
    .drawer-menu li a{ display: block; padding: 20px; text-align: right; border-bottom: 1px solid #4d4d4d; margin: 0 25px; font-size: 0.8rem;}
    .drawer-menu li a.border-none{border-bottom: none;}
    .drawer-menu li a:link,.drawer-menu li a:visited{color: #4d4d4d; text-decoration: none;}
    .drawer-menu ul.child li a:hover{color: #ea5504;}
    .drawer-menu ul.child li a{border-bottom: 1px dashed #4d4d4d;}
    .drawer-menu .active a{color: #ea5504!important;}
    .drawer-menu .child {display: none;}
    .btnCSL{margin: 10px 25px 0; text-align: center;}
    .btnCSL a{padding: 25px; text-align: center; display:block;background: #F97A0B;}
    .btnCSL a:link,.btnCSL a:visited{color: #fff; text-decoration: none; font-size: 0.9rem;}
    .btnCSL.active a{color: #F97A0B; background:#fff;}
    .menu_sp,.drawer-menu .menu_toggle{position: relative;}
    .menu_sp, .drawer-menu li.active a{color: #ea5504;} 
    .drawer-menu li .menu_toggle a{padding: 20px 30px 20px 20px; position: relative; display: block;  z-index: 9;}
   .drawer-menu li .toggle {
       position: absolute;
       right: 27px;
       top: 45%;
       padding: 8px;
       content: '';
       width: 10px;
       height: 10px;
       background: url(../images/common/menu_sp_close.svg) no-repeat;
       background-size: contain;
       z-index: 10;
    }
 
    .drawer-menu li .toggle.active {
        background: url(../images/common/menu_sp_open.svg) no-repeat;
        top: 45%;
    }
    
    footer p{text-align: center;}
    footer .footerMenu{flex-direction: column;}
    footer .footerMenu nav{width: 100%; text-align: left;}
    footer .footerMenu nav li.menu__single_foot{width: 48%;}
    footer .footerMenu nav li.menu__single_foot{padding: 0 0 10px;}
    .menu_foot .menu__single_foot ul.menu__second-level_foot{font-size: 0.7rem; left: 0px;}
    .menu_foot .menu__single_foot ul.menu__second-level_foot{background: #e95513;}
    
    .menu_foot li.menu__single_foot:hover ul.menu__second-level_foot li a{width: 100%;}
    .menu_foot > li.menu__single_foot span.init-bottom::after{padding-left: 7px; }
    .menu__second-level_foot li{height: auto; padding: 5px 0;}
    .footerIcon{justify-content:center; margin-bottom: 10px;}
    .bnrCounseling{width: 100%; display: none; left: 0; right: 0; bottom: -2px; z-index: 100; margin: auto; box-shadow: 3px 2px 4px rgba(0,0,0,0.4); position: sticky;}
    .bnrCounseling img{vertical-align: bottom;}
    .btnTop.is_flow a{bottom: 40px;}
    
    .wrapMV{height: 89vh;}
}



/*============================
  お問い合わせフォーム
================================*/

.contact {
    padding: 70px 0 100px;
    margin-top: 80px;
}
@media screen and (max-width:540px) {
    .contact {
        padding: 50px 0 80px;
        margin-top: 10px;
    }
}

.contact h2 {
    color: #000;
    margin-bottom: 80px;
    font-size: 40px;
    text-align: center;
}
@media screen and (max-width:540px) {
    .contact h2 {
        margin-bottom: 60px;
        font-size: 28px;
        text-align: center;
    }
}

.contact .box {
    margin: 40px 0 60px;
    padding: 40px 30px;
    background: white;
    border: solid 3px #cccccc;
}

.contact .box .flex{
    margin-bottom: 15px;
    gap: 20px;
}

.contact .box .flex p:first-child{
   font-weight: bold;
   color: #000;
}

.contact .container{
	max-width: 930px;
    width: calc(100% - 80px);
    margin: auto;
}
@media screen and (max-width:540px) {
    .contact .container{
        width: calc(100% - 60px);
    }
}

#wrapCSL.wrapMV.contact {
   padding-top: 80px;
}

@media screen and (max-width:650px) {
    #wrapCSL.wrapMV.contact {
        height: 60vh;
        min-height: auto;
        padding-top: 0;
        background: url(../images/counseling/imgMV_sp.png) no-repeat 0%/cover;
    }
}
@media screen and (max-width:380px) {
    #wrapCSL.wrapMV.contact {
        height: 45vh;
    }
}

.contact-content .flex-item {
margin-bottom: 30px;
}

.contact-content label{
display: block;
color: #000;
margin-bottom: 10px;
}

input[type=text] {
    width: 50%;
    font-size: 18px;
    padding: 17px 24px;
    border-radius: 5px;
    border: solid 1px #9F9F9F;
}
@media screen and (max-width:800px) {
    input[type=text] {
        width: 100%;
        padding: 17px;
    }
}

input[type="datetime-local" i] {  
    width: 50%;
    font-size: 18px;
    padding: 17px 24px;
    border-radius: 5px;
    border: solid 1px #9F9F9F;
}
@media screen and (max-width:800px) {
    input[type="datetime-local" i] {  
        width: 100%;
        padding: 17px;
    }
}

#contact_message{
width: 100%;
height: 281px;
font-size: 18px;
padding: 17px 24px;
border-radius: 5px;
border: solid 1px #9F9F9F;
font-weight: normal;
}
@media screen and (max-width:540px) {
    #contact_message{
        padding: 17px;
    }
}

#message::placeholder {
color: #9F9F9F;
font-weight: normal;
}

input[type="submit"] {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: 50px auto 0;
    width: 100%;
    height: 66px;
    font-size: 18px;
    color: white;
    text-decoration-line: none;
    background: #ff1900;
    border: none;
    box-shadow: 4px 4px 0 rgb(165, 37, 1);
}

.contact p.error_msg {
    font-size: 15px;
    margin-top: 5px;
    color: #F50042;
    position: relative;
    }

    @media screen and (max-width:540px) {
    .contact p.error_msg {
        font-size: 13px;
    }
    }

    .contact p.error_msg_5 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
    color: #F50042;
    position: relative;
    }

    @media screen and (max-width:540px) {
    .contact p.error_msg_5 {
        display: block;
        font-size: 16px;
        margin: 0 auto 40px;
        width: 225px;
    }
    }
  
/*============================
お問い合わせフォーム確認画面
================================*/
  
    .confirm {
        padding: 70px 0 120px;
        font-size: 18px;
        margin-top: 80px;
    }
    @media screen and (max-width:540px) {
        .confirm {
            padding: 80px 0;
            margin-top: 0;
            font-size: 16px;
        }
    }

    .confirm .container{
        max-width: 930px;
        width: calc(100% - 80px);
        margin: auto;
    }
    @media screen and (max-width:540px) {
        .confirm .container{
            width: calc(100% - 60px);
        }
    }

    .confirm h2 {
        margin-bottom: 80px;
        font-size: 40px;
        color: #000;
        text-align: center;
    }
    @media screen and (max-width:540px) {
        .confirm h2 {
            margin-bottom: 60px;
            font-size: 28px;
            text-align: center;
        }
    }

    .confirm .flex {
        gap: 60px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        padding-left: 10px;
        border-bottom: solid 1px #9F9F9F;
    }
    @media screen and (max-width:540px) {
        .confirm .flex {
            gap: 10px;
            padding-left: 0;
            flex-wrap: wrap;
        }
    }

    .confirm .flex-item {
        width: 145px;
    }

    .confirm .flex-item .text-bold{
       font-weight: bold;
       color: #000;
    }
    @media screen and (max-width:540px) {
        .confirm .flex-item:first-child {
            width: 100%;
         }
    }

    .confirm .flex-item:last-child {
        flex: 2;
    }

    .confirm .flex-item:last-child p{
        font-weight: normal;
    }
  
    /* .confirm textarea {
    pointer-events: none;
    width: 100%;
    border: none;
    font-size: 18px;
    height: 26px;
    color: #0C2C52;
    overflow: hidden;
    resize: none;
    } */

    .confirm #message {
    min-height: 120px;
    pointer-events:initial;
    overflow: inherit;
    }

    .confirm .contact-confirm .confirm-content .confirm-button {
    padding: 0;
    margin: 80px auto 0;
    border: none;
    justify-content: center;
    }

    @media screen and (max-width:540px) {
    .confirm .contact-confirm .confirm-content .confirm-button {
        gap: 30px;
        margin-top: 60px;
        flex-direction: column-reverse;
    }
    }

    .confirm input[type="submit"] {
        width: 50%;
        margin: 0;
    }
    @media screen and (max-width:540px) {
        .confirm input[type="submit"] {
            width: 100%;
        }
    }

    input.btn_back {
        width: 50%;
        display: flex;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        height: 66px;
        font-size: 18px;
        color: white;
        text-decoration-line: none;
        background: #9F9F9F;
        border: none;
        box-shadow: 4px 4px 0 rgb(127, 127, 127);
    }
    @media screen and (max-width:540px) {
        input.btn_back {
            width: 100%;
        }
    }

      
/*============================
　お問い合わせフォーム送信完了
================================*/

.complete {
    padding: 70px 0 120px;
    font-size: 18px;
    margin-top: 80px;
}
@media screen and (max-width:540px) {
    .complete {
        padding: 80px 0;
        margin-top: 0;
        font-size: 16px;
    }
}

.complete .container{
    max-width: 930px;
    width: calc(100% - 80px);
    margin: auto;
}
@media screen and (max-width:540px) {
    .complete .container{
        width: calc(100% - 60px);
    }
}

.complete h2 {
    color: #000;
    margin-bottom: 50px;
    font-size: 40px;
    text-align: center;
}
@media screen and (max-width:540px) {
    .complete h2 {
        margin-bottom: 40px;
        font-size: 28px;
        text-align: center;
    }
}

.complete p {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
@media screen and (max-width:540px) {
    .complete p {
        font-size: 16px;
      }
}

.complete a {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: 50px auto 0;
    width: 50%;
    height: 66px;
    font-size: 18px;
    color: white;
    text-decoration-line: none;
    background: #ff1900;
    border: none;
    box-shadow: 4px 4px 0 rgb(165, 37, 1);
}
@media screen and (max-width:540px) {
    .complete a {
        width: 100%;
    }
}